@model PracticaEM.Models.AsignacionDocente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsignacionDocente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoClase.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoClase.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsigDocenteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
